<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1><%= post.title %></h1>
      <ul class="list-group">
        <% post.flairs.forEach((flair) => {  %>
          <li class="list-group-item">
             <h6><%= flair.name %><%= flair.color %> </h6>
             <a href="/topicsFlair/<%= post.topicId %>/posts/<%= flair.postId %>/edit" class="btn btn-warning">Edit</a>
             <form style="display:initial" action="/topicsFlair/<%= post.topicId %>/posts/<%= flair.postId %>/destroy" method="post">
              <button type="submit" class="btn btn-danger">Delete Flair</button>
            </form>
          </li>
        <% }) %>
      </ul>
      <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/new" class="btn btn-success">Add Flair</a>
      
      
      
      <p><%= post.body %></p>
      <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/edit" class="btn btn-warning">Edit</a>
      <form style="display:initial" action="/topics/<%= post.topicId %>/posts/<%= post.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      
      
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>